{% extends 'auth/base.html' %}

{% block title %}Signup{% endblock title %}

{% block body %}

<div class="container mx-auto mt-10">
    <div class="flex flex-wrap justify-center">
        <div class="w-full max-w-md">
            <div class="bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md mb-6" role="alert">
                <h2 class="text-center text-lg">This is the Signup page.</h2>
            </div>

            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <!-- Buttons for Home and Login -->
                <div class="flex justify-between mb-6">
                    <a href="{% url 'home' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Home</a>
                    <a href="{% url 'login' %}" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</a>
                </div>

                <form method="post" class="mt-4">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                                {{ field.label }}
                            </label>
                            {{ field }}
                            {% if field.help_text %}
                                <p class="text-gray-600 text-xs italic">{{ field.help_text }}</p>
                            {% endif %}
                            {% for error in field.errors %}
                                <p class="text-red-500 text-xs italic">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 w-full rounded focus:outline-none focus:shadow-outline">
                        Sign up
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock body %}
